[[extend 'layout.html']]

<style>
[v-cloak] { display: none; }
</style>

<input type="file" id="file-input" style="display: none" accept="image/*">

<div class="section" id="app" v-cloak>
  <div class="container">
    <h1 class="title">Contacts</h1>
    <button class="button is-success" id="add_button" @click="addContact">Add Contact</button>
    <div v-for="contact in contacts" :key="contact.id" class="card contact mt-4">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="photo image is-96x96" @click="chooseImage(contact)">
              <img :src="contact.contact_image || 'https://bulma.io/assets/images/placeholders/96x96.png'" class="photo"/>
            </figure>
          </div>
          <div class="media-content">
            <p class="title person-name">
              <input type="text" name="name" class="input is-4 title" 
                v-model="contact.contact_name" 
                placeholder="Name" 
                @focus="editField(contact, 'contact_name')"
                @blur="saveField(contact, 'contact_name')" 
                :readonly="!contact.editing.contact_name"
              />
            </p>
            <p class="subtitle person-affiliation">
              <input type="text" name="affiliation" class="input is-6" 
                v-model="contact.contact_affiliation" 
                placeholder="Affiliation" 
                @focus="editField(contact, 'contact_affiliation')"
                @blur="saveField(contact, 'contact_affiliation')" 
                :readonly="!contact.editing.contact_affiliation"
              />
            </p>
          </div>
          <div class="media-right">
            <i class="delete-button has-text-danger fa fa-trash trash" @click="deleteContact(contact)"></i>
          </div>
        </div>
        <textarea class="textarea" name="description" 
          v-model="contact.contact_description" 
          placeholder="Description" 
          @focus="editField(contact, 'contact_description')" 
          @blur="saveField(contact, 'contact_description')" 
          :readonly="!contact.editing.contact_description"
        ></textarea>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<script>
  let get_contacts_url = "[[=XML(get_contacts_url)]]";
  let add_contact_url = "[[=XML(add_contact_url)]]";
  let update_contact_url = "[[=XML(update_contact_url)]]";
  let delete_contact_url = "[[=XML(delete_contact_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]